
  <!-- ============================== /Header Area ============================== -->
  <html>
    <head>
      <title>HelloApp3</title>
      <%= csrf_meta_tags %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
      <header>
        <div class="header-logo">
          <img class="header-logo-text" src=<%= image_url('youtrust_logo_text.png') %>>
        </div>
        <ul class="header-menus">
          <li>
            <%= link_to("採用担当の方はこちら","/about") %>
          </li>
          <li>
            <%= link_to "ログイン", login_path %>
          </li>
        </ul>
      </header>

      <div class="top-wrapper">
        <div class="container">
          <h2>あなたを知ってる、あなたを待ってる人がいる</h2>
          <p></br>友達もしくはその友達からだけスカウトが来るヘッドハンティングサービス</p>
            <div class="btn-wrapper">
              <a href="#" class="btn facebook">Facebookで今すぐログイン</a>
           </div>
        </div>
      </div>

      <div class="step-wrapper">
        <div class="container2">
          <div class="heading">
            <h2>たったの３ステップで友達に誘われる</h2>
          </div>
          <div class="step">
            <img class="step-image" src=<%= image_url('step1.png') %>>
            <img class="step-image" src=<%= image_url('step2.png') %>>
            <img class="step-image" src=<%= image_url('step3.png') %>>
          </div>
        </div>
      </div>

      <div class="features-wrapper">
        <div class="features-container">
          <div class="heading">
            <h2>YOUTRUSTの特長</h2>
          </div>
          <div class="feature">
            <img class="feature-box" src=<%= image_url('feature-block.png') %>>
            <img class="feature-icon" src=<%= image_url('feature-friends.png') %>>
            <h3>友達かその友達からだけスカウトがくる</h3>
            <p>全くあなたのことを知らないエージェントや採用担当者等から連絡がくることはありません。直接の友達もしくは弊社の審査を通過したあなたと共通の友達がいる企業の採用担当からのみ連絡がきます</p>
          </div>
          <div class="feature">
            <img class="feature-box" src=<%= image_url('feature-block.png') %>>
            <img class="feature-icon" src=<%= image_url('feature-paper.png') %>>
            <h3>面倒な履歴書や職務経歴の登録は不要</h3>
            <p>あなたのことを知っている人からのスカウトを前提としているので、面倒な書類を作成する必要はありません</p>
          </div>
        </div>
      </div>


<div class="message-wrapper">
  <div class="message">
    <h2><br><br>さっそく使ってみる！</h2>
    <div class="btn-wrapper">
      <a href="#" class="btn facebook">Facebookで今すぐログイン</a>
   </div>
  </div>
</div>

<footer>

</footer>


      <%= yield %>
    </body>
  </html>
