
  <!-- ============================== /Header Area ============================== -->
  <html>
    <head>
      <title>HelloApp3</title>
      <%= csrf_meta_tags %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
      <header>
        <div class="header-logo">
          <img class="header-logo-text" src=<%= image_url('YOUTRUST_logo.png') %>>
        </div>
        <ul class="header-menus">
          <li>
            <%= link_to("採用担当の方はこちら","/about") %>
          </li>
          <li>
            <%= link_to "ログイン", login_path %>
          </li>
        </ul>
      </header>

      <div class="top-wrapper">
        <div class="container">
          <h2>あなたを<span class="under-top">知ってる</span>、<br>あなたを<span class="under-top">待ってる</span>人がいる</h2>
          <p></br>元同僚からスカウトが来るヘッドハンティングサービス</p>
            <div class="btn-wrapper">
              <a href="#" class="btn facebook">Facebookで今すぐログイン</a>
           </div>
        </div>
      </div>

      <hr>

      <div class="step-wrapper">
        <div class="container2">
          <div class="heading">
            <h2>たったの<span class="under">３ステップ</span>で友達に誘われる</h2>
          </div>
          <div class="step">
            <img class="step-image" src=<%= image_url('step1.png') %>>
            <img class="step-image" src=<%= image_url('step2.png') %>>
            <img class="step-image" src=<%= image_url('step3.png') %>>
          </div>
        </div>
      </div>

      <hr>

      <div class="features-wrapper">
        <div class="features-container">
          <div class="heading">
            <h2>YOUTRUSTの<span class="under">特長</span></h2>
          </div>
          <div class="feature">
            <img class="feature-icon" src=<%= image_url('feature-friends.png') %>>
            <h2><span class="under">知人かその知人</span>からスカウトがくる</h2>
            <p>あなたのことを知らないエージェントから<br>連絡がくることはありません。<br>知人もしくは共通の友達がいる人からのみ連絡がきます</p>
          </div>
          <div class="feature">
            <img class="feature-icon" src=<%= image_url('feature-paper.png') %>>
            <h2>面倒な職務経歴の登録は<span class="under">不要</span></h2>
            <p>あなたを知っている人からのスカウトを前提としているので、面倒な書類を作成する必要はありません</p>
          </div>
          </div>
        </div>
      </div>

<hr>

<div class="message-wrapper">
  <div class="message">
    <h2><br><br><strong>\</strong>さっそく使ってみる<strong>/</strong></h2>
    <div class="btn-wrapper">
      <a href="#" class="btn facebook">Facebookで今すぐログイン</a>
   </div>
  </div>
</div>

<hr>

<footer>

</footer>


      <%= yield %>
    </body>
  </html>
