<!DOCTYPE html>
<html>
  <head>
    <title>HelloApp3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to("youTRUST","/") %>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to("youTRUSTとは","/about") %>
        </li>
        <li>
          <%= link_to "自分のTRUSTを見る", user_trusts_path(login_user) %>
        </li>
        <li>
          <%= link_to "誰かのTRUSTを書く", users_path %>
        </li>
      </ul>
     </header>

   <% if flash[:notice] %>
   <div class="flash">
     <%= flash[:notice] %>
   </div>
   <% end %>

    <%= yield %>
  </body>
</html>
