<!DOCTYPE html>
<html>
  <head>
    <title>HelloApp3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <img src="youtrust_logo_text.png">
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to("採用担当の方はこちら","/about") %>
        </li>
        <% if logged_in? %>
          <li>
            <%= link_to "自分のTRUSTを見る", user_trusts_path(login_user) %>
          </li>
          <li>
            <%= link_to "誰かのTRUSTを書く", users_path %>
          </li>
        <% else %>
          <li>
            <%= link_to "ログイン", login_path %>
          </li>
        <% end %>
      </ul>
     </header>

   <% if flash[:notice] %>
   <div class="flash">
     <%= flash[:notice] %>
   </div>
   <% end %>

    <%= yield %>
  </body>
</html>
